
  <%- include("partials/header") -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<div id="header">
<h4>Recommended Events</h4>
</div>



   <% if (events.length > 0) { %>
        <div class="container-fluid text-center my-3" id="events">
        <div class="row justify-content-center centered row-container">
        <div id="carouselExampleControls" class="carousel" data-bs-ride="false">
            <div class="carousel-inner">


        <% events.forEach(event => { %>
            <% if (event) { %>

                 <% if (events[0] === event) { %>
                    <div class="carousel-item active">
              <%  } else { %>
                    <div class="carousel-item">
               <% } %>
                        <div class="col-4 centered">
            <div class="card">
                <div class="img-wrapper"><img src="" class="d-block w-100" alt=""> </div>
                    <div class="card-body">
                    <h5 class="card-title-custom"><%=event.title %></h5>
                        <p class="card-text"><%=event.date %></p>
                        <p class="card-text"><%=event.time %></p>
                    <a href="<%=event.tickets%>" class="btn btn-secondary">Tickets</a>
                    </div>
                </div>
                </div>
        </div>

            <% } %>
        <%})%>

        </div>
            </div>
           <a class="carousel-control-prev bg-transparent w-aut" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
   </div>
 </div>
 </div>
    <% } %>



<div class="footer">
</div>

<script>

let items = document.querySelectorAll('.carousel .carousel-item')

items.forEach((el) => {
    const minPerSlide = 3
    let next = el.nextElementSibling
    for (var i=1; i<minPerSlide; i++) {
        if (!next) {
            // wrap carousel by using first child
        	next = items[0]
      	}
        let cloneChild = next.cloneNode(true)
        el.appendChild(cloneChild.children[0])
        next = next.nextElementSibling
    }
})
</script>

  <%- include("partials/footer") -%>
